<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
<head>
  {% include head.html %}
  {% include head/custom.html %}
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
</head>
<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
  {% include_cached skip-links.html %}
  {% include_cached browser-upgrade.html %}
  {% include_cached masthead.html %}
  <link href="../media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="../media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
 <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
